*{
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	background: #111;
}
span{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: url(https://i.artfile.me/wallpaper/02-02-2014/2880x1800/paranormalnoe-yavlenie-metka-dyavola-kin-789868.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	pointer-events: none;
}
