*{
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	background: #111;
}
span{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: url(https://steamuserimages-a.akamaihd.net/ugc/1699534650074733353/446FE5528423D590C96A7396854594CED9574129/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	pointer-events: none;
}
